<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome</h1>


            <h4 class="text-muted">
                Benvenuti nella versione 2 dell'ultimate pizza manager.
            </h4>
            <h3>
                Per iniziare una nuova esperienza interativa di alto livello si prega di autenticarsi.
                <br/> Affida la tua nutrizione a noi, non te ne pentirai!
            </h3>
            <hr/>

            <h4 class="text-muted">
                Questa versione &egrave; stata sviluppata utilizzando il framework microsoft
                <a href="https://blazor.net">Balzor</a> che ci permette di ottenere compilati in WebAssembly.
            </h4>

            <hr/>
            <h2>Regolamento</h2>
            <ul>
                <li>Non si forniscono resti ai buoni pasto</li>
                <li>I Valentini non possono ordinare</li>
            </ul>
        </div>
    </div>
</div>