@inherits BlazorLayoutComponent

<div class="sidebar">
    <navmenu/>
</div>

<div class="main">
    <div class="top-row px-4"><cartbadge></cartbadge></div>

    <div class="content px-4">
        @Body
    </div>
</div>